
<h2>Add New Asset</h2>

<form ng-submit="createCustomer()">
    <div>
        <label for="firstName">Asset Name</label>
        <p><input type="text" id="customerName" ng-model="newCustomer.first_name"></p>

        <label for="lastName">Project Name</label>
        <p><input type="text" id="customerName" ng-model="newCustomer.last_name"></p>

        <label for="description">Asset Description</label>
        <p><input type="test" id="customerName" ng-model="newCustomer.description"></p>

        <label for="birthday">Asset installed on</label>
        <p><input type="date" id="customerName" ng-model="newCustomer.birthday"><p>
    </div>
    <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
        <a href="#!/"><h4>Back</h4></a>
</form>
